.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 30px;
}

.custom-navbar-brand {
    color: #5c9404;
}

.custom-btn-search {
    background-color: #5c9404;
    border-color: #5c9404;
    color: #fff; /* Text color for the button */
}

.custom-btn-search:hover {
    background-color: #387e01; /* Color on hover */
    border-color: #387e01;
    color: #fff; /* Text color on hover */
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}


